/**
*    ___                     _____                             
*   |_  |                   |_   _|                            
*     | |_   _  __ _ _ __     | | ___  _ __   __ _ _ __   __ _ 
*     | | | | |/ _` | '_ \    | |/ _ \| '_ \ / _` | '_ \ / _` |
* /\__/ / |_| | (_| | | | |   | | (_) | | | | (_| | | | | (_| |
* \____/ \__,_|\__,_|_| |_|   \_/\___/|_| |_|\__,_|_| |_|\__, |
*                                                         __/ |
*                                                        |___/ 
* Version : 1.0
* Author : Rizwan Aritonang @JuanTonang
* Author URI : http://juantonang.github.io/
**/

// TYPOGRAPHY
@import "typography";

// VARIABLES & PARAMETRIC-MIXIN
@import "variablesparametricmixin";


/*  GENERAL SECTION
/* ------------------------------------------ */
// GENERAL, HEADINGS, ALIGN, IMG, VIDEO-CONTAINER, LIST,
// TABLES, QUOTES
@import "general";

.gm-style-iw{
	border-radius: 0;
	max-width: 350px;
	z-index: 999;
	.box-content-map{
		padding: 25px 15px;
		max-width: 250px;
	}
	h3{
		@include brandon-regular;
		text-transform: uppercase;
		margin-top: 0;
	}	
}

// PRELOAD
@import "preloader";

/*  HELPER
/* ----------------------------------------- */
// SPACING, NOPADD
@import "helper";

/*  BACKGROUND-COLOR
/* ----------------------------------------- */
// BACKGROUND-COLOR, TEXT-COLOR
@import "coloring";

/*  BUTTONS
/* ----------------------------------------- */
@import "buttons";

/*  FIELDS
/* ----------------------------------------- */
input[type="text"], 
input[type="email"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea{
	width: 100%;
	padding: 1em;
	border: none;
}

textarea{
	resize: horizontal;
}

/*  FORMS
/* ----------------------------------------- */
@import "forms";

/*  CONTENTS
/* ----------------------------------------- */
@import "content";

/*  WIDGETS
/* ----------------------------------------- */
@import "widget";

/*  SITE-HEADER
/* ------------------------------------------ */
// LOGO, MAIN-NAVIGATION, INTERNAL-HEADER
@import "siteheader";

/*  SITE-FOOTER
/* ------------------------------------------ */
@import "sitefooter";

/*  RESPONSIVE NAVIGATION
/* ----------------------------------------- */
@import "rwdnavigation";

/*  MEDIA-QUERRIES
/* ------------------------------------------ */
@import "mediaqueries";

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}